* {
    margin: 0;
    padding: 0;
}

/*顶部导航条*/
#topNav {
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    font: 16px/32px hiragino sans gb, microsoft yahei, simsun;
    background-color: #ffffff;
    border-bottom: 1px solid #E0E0E0;
}

#topNav .swiper-slide {
    padding: 0 5px;
    letter-spacing: 2px;
    width: 45%;
    text-align: center;
    /*border-bottom: 1px solid #f8f8f8;*/
}

#topNav .swiper-slide span {
    transition: all .3s ease;
    display: block;
    line-height: 45px;
}

/*被选中的*/
#topNav .active span {
    transform: scale(1.1);
    color: #30b54c;
}

/*被选中的底部横条*/
#topNav .active div {
    height: 2px;
    width: 50px;
    background-color: #30b54c;
    margin: 0 auto;
    border-radius: 5px;
}

/*实物*/
.matter-ul {
    margin-top: 49px;
    margin-bottom: 20px;
}

.matter-li {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
}

.matter-li img {
    display: inline-block;
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px;
}

.matter-li .title {
    margin-top: 10px;
    float: left;
    top: 5px;
    font-size: 15px;
    font-weight: bold;
    width: 200px;
    height: 45px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.matter-li .property {
    margin-top: 2px;
    float: left;
    color: #8c8c8c;
    font-size: 12px;
    width: 170px;
}

.matter-li .number{
    margin-top: 18px;
    float: right;
    margin-right: 20px;
    font-size: 12px;
}