/*没有收藏*/
.no_collection{
    position:absolute;
    top:50%;
    left:50%;
    width:150px;
    margin:-70px 0 0 -70px;
    /*height:200px;*/
}

.no_collection img{
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 50px;
    height: 50px;
}
.no_collection text{
    margin: 20px auto;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #C8C8C8;
}

/*收藏*/
.collection-ul{
    margin: 20px;
}

.collection-li {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.collection-li img{
    display: inline-block;
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.collection-li .title{
    display: block;
    margin: 0 10px;
    width: 100%;
    font-size: 16px;
}

.collection-li .distance{
    display: inline-block;
    color: #8c8c8c;
    font-size: 14px;
    margin-left: 10px;
    padding-bottom: 5px;
}

.collection-li .read_num{
    display: inline-block;
    color: #8c8c8c;
    font-size: 14px;
    margin-left: 30px;
    padding-bottom: 5px;
}

.collection-li .recommend{
    float: right;
    display: inline-block;
    margin-right: 10px;
    color: #8c8c8c;
    font-size: 10px;
    padding: 3px 5px;
    border: 1px solid #8c8c8c;
    border-radius: 5px;
}